extends ../layouts/layout.pug

block content
	.page-wrapper.start-page
		.container
			h1 ui
			pre.
				class="d-grid-2" - внутри два дочерних блока первого уровня
			.d-grid-2
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
			
			hr
			pre.
				class="d-grid-3" - внутри 3 дочерних блока первого уровня
			.d-grid-3
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
			
			hr
			pre.
				class="d-grid-4" - внутри 4 дочерних блока первого уровня
			.d-grid-4
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				
			hr
			pre.
				class="d-grid-5" - внутри 5 дочерних блоков первого уровня	
			.d-grid-5
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
			hr
			pre.
				class="d-grid-6" - внутри 6 дочерних блоков первого уровня	
			.d-grid-6
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
			pre.
				class="d-grid-7" - внутри 7 дочерних блоков первого уровня	
			.d-grid-7
				.block.grid-col-4(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block.grid-col-4(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block.grid-col-4(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block.grid-col-3(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block.grid-col-3(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block.grid-col-3(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block.grid-col-3(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
			hr
			pre.
				class="grid-aside-right" - внутри два дочерних блока первого уровня
			.grid-aside-right
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
			hr
			pre.
				class="grid-aside-left" - внутри два дочерних блока первого уровня
			.grid-aside-left
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block
				.block(style="height:80px; text-align: center; border:5px solid lightBlue;")
					h3 block

			h1 Типографика
						
block variables
	-var title = "Home";